---
layout: default 
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ content_for_header }}
  </head>

  <body class="{{ page.classes }}">
    <header class="site-header" role="banner">
      <div class="wrapper">
        <h1 class="site-title"><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
        <nav class="site-nav">
          <ul>
            <li><a href="{{ '/research/' | relative_url }}">Research</a></li>
            <li><a href="{{ '/teaching/' | relative_url }}">Teaching</a></li>
            <li><a href="{{ '/cv/' | relative_url }}">CV</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="site-main wrapper">
      {{ content }}
    </main>

    <footer class="site-footer wrapper">
      <p>Email: <a href="mailto:alpuerta@eco.uc3m.es">alpuerta@eco.uc3m.es</a></p>
      <p>GitHub: <a href="https://github.com/apuertac94" target="_blank">apuertac94</a></p>
    </footer>
  </body>
</html>

